{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
    <h1>About Galactic United</h1>
    <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80" style="width:20%;">
    <h2>Our Vision</h2>
    <p>At Galactic United, our vision is to be at the forefront of space exploration, unraveling the mysteries of the universe and pushing the boundaries of human knowledge. We strive to inspire generations with the wonders of space and ignite a passion for scientific discovery.</p>
    <h2>Our Values</h2>
    <ul>
        <li><strong>Exploration:</strong> We have an insatiable curiosity and a desire to explore the unknown, driving us to go where no one has gone before.</li>
        <li><strong>Innovation:</strong> We embrace innovation and cutting-edge technology, pushing the boundaries of what is possible in space exploration.</li>
        <li><strong>Collaboration:</strong> We foster a collaborative environment, bringing together diverse perspectives and expertise to achieve extraordinary results.</li>
        <li><strong>Sustainability:</strong> We are committed to responsible and sustainable practices, preserving the integrity of the universe we explore.</li>
        <li><strong>Inspiration:</strong> We aim to inspire future generations to dream big and pursue careers in science, technology, engineering, and mathematics (STEM).</li>
    </ul>
{% endblock content %}