{% extends 'base.html' %}

{% block title %}Mission{% endblock title %}

{% block content %}
    <h1>Mission Statement</h1>
    <p>Our mission is to pioneer the unexplored frontiers of the universe, unlocking its mysteries and expanding human knowledge. Through innovative technology and a relentless spirit of exploration, we strive to inspire awe, foster scientific advancement, and cultivate a future where humanity transcends earthly boundaries, venturing into the infinite cosmos.</p>
{% endblock content %}